.header-section {
    background: black;
    display: flex;
    flex-direction: row-reverse;
    color:white;
}

/* .introduction{
    display: flex;
    align-items: center;
    height: 3em;
} */

.intro{
    margin-right: .5em;
    font-size: 1.5em;
}

.frontend{
    margin-top: 0;
}

.buttons {
    display: flex;
  }

.triangle {
    position: absolute;
    content: '';
    border-top: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 300px solid white;
    border-left: 146px solid transparent;
    transform-origin: top right;
    transform: skewX(-28deg);
}

  /* .eb-logo{
    width: 60%;
    margin-top: 11px;
    margin-left: 10px;
  } */