.under{
    background-color: black;
}

.contact-section{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    background-color:white ;      
    border: 2px solid black;
    border-radius: 50px;
}

a{
    text-decoration: none;
    color: black;
}

.linkedIn-section{
    width: 10%;
}

.linkedInImage{
    width: 35%;
    margin-top: 2px;
}

.githubImage{
    width: 80%;
    padding: 5px;
}