.about-section{
    display: flex;
    flex-direction: column;
    color: black; 
    margin: 5em;
    margin-top: 0;
}

/* .skills-section{
    border: thick double #CAF0F8;
}

.text-section{
    border: thick double #CAF0F8;
    border-top: none;
} */