html, body {
  margin: 0;
  padding: 0;
}

.page {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: stretch;
  height: 125vh;
  background: rgb(144,224,239);
  background: linear-gradient(0deg, rgba(144,224,239,1) 0%, rgba(3,4,94,1) 50%); 
}

a{
  align-self: flex-start;
}

.currently-title{
  color: #CAF0F8;
}

.currently{
  display: flex;
  justify-content: space-around;
  color: #CAF0F8;
}

.office{
  max-width: 100%;
  height: auto;
}

.watching{
  width: 20%;
}

ul{
  margin: 0;
  padding: 0;
  border: none;
  list-style-type: none;
  padding-inline-start: 0;
  }




