.page {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: stretch;
  height: 100vh;
  background: rgb(144,224,239);
  background: linear-gradient(0deg, rgba(144,224,239,1) 0%, rgba(3,4,94,1) 50%); 
}

a{
  align-self: flex-start;
}




